/* stijl.css - labo 3, tabblad (reset.css is linked before this file) */

/* === tokens === */
:root {

}

/* === your rules === */
body {
  font-family: Arial, sans-serif;
  background-color: #ff816f;
  min-height: 800px;
  padding: 5rem;
  overflow: hidden;
}

h1 {
  display: block;
  width: 15rem;
  background-color: #ffd500;
  color: #000000;
  font-size: 1.15rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border: 0.25rem solid #000000;
  border-bottom: none;
  margin-left: 0;
  margin-bottom: -0.25rem;
  position: relative;
  z-index: 2;
}
h1::before {
  content: "";
  position: absolute;
  background-color: #000000;
  width: 0.25rem;
  height: calc(100% - 0.25rem);
  bottom: 0;
  left: -0.5rem;
}

h2 {
  display: block;
  width: 35rem;
   background-color: #ffffff;
  color: #000000;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.2;
  padding: 2.5rem 2rem;
  text-align: left;
  margin-left: 0;
  border: 0.25rem solid #000000;
  box-shadow: -0.25rem 0.25rem 0px #000000, 0.25rem 0.25rem 0px #000000;
  position: relative;
  z-index: 2;
}